.instructions {
    position: absolute;
    width: 500px;
    height: 157px;
    background: none no-repeat scroll 0px -432px transparent;
}

.nitroid_error {
    position: absolute;
    text-align: center;

    color: #000;
    background: transparent;
    font: 2em monospace;
}

.nitroid_msg {
    position: absolute;
    padding-top: 5em;
    text-align: center;
}

.nitroid_msg p {
    color: #ff0;
    background: transparent;
    font: bold 4em monospace;
    line-height: 35px;
}

.nitroid_msg small {
    font-size: 0.4em;
}

.nitroid_msg table {
    width: 200px;
    margin: auto;
    color: #ff0;
    font: 1.3em monospace;
}

.nitroid_msg td:first-child {
    text-align: left;
}

.nitroid_msg td:last-child {
    text-align: right;
}

.nitroid_msg tr:first-child {
    font-weight: bold;
    font-size: 1.2em;
}
