.instructions {
    position: absolute;
    width: 500px;
    height: 157px;
    background: url('animations.png') no-repeat scroll 0px -432px transparent;
}

.nitroid_msg {
    position: absolute;
    margin-top: 5em;
    text-align: center;
}

.nitroid_msg p {
    color: #ff0;
    background: transparent;
    font: bold 4em monospace;
    line-height: 35px;
}

.nitroid_msg small {
    font-size: 0.4em;
}
